<app-navbar></app-navbar>
<div class="movie-cards">
  <mat-card *ngFor="let movie of movies" style="flex: 1 1 auto">
    <mat-card-header>
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.director.name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      width="100%"
      mat-card-image
      src="{{ movie.imageUrl }}"
      alt="{{ movie.title }}"
    />
    <mat-card-actions>
      <button
        mat-button
        (click)="openGenre(movie.genre.name, movie.genre.description)"
      >
        Genre
      </button>
      <button
        mat-button
        (click)="
          openDirector(
            movie.director.name,
            movie.director.bio,
            movie.director.birthyear
          )
        "
      >
        Director
      </button>
      <button mat-button (click)="openSummary(movie.title, movie.description)">
        Synopsis
      </button>
      <button
        mat-button
        class="mat-icon-button"
        *ngIf="!isFavorite(movie._id)"
        (click)="addToFavorites(movie._id)"
        color="primary"
      >
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button
        mat-button
        class="mat-icon-button"
        *ngIf="isFavorite(movie._id)"
        (click)="removeFromFavorites(movie._id)"
        color="primary"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
