$cardColor: rgb(56, 56, 56);
$labelColor: rgb(197, 197, 197);
$textColor: #fff;
$boxShadowColor: #1e1e1e;

.profile-page {
  margin-top: 50px;
}

.user-profile-card-content form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-actions {
  padding: 16px;
  gap: 16px;
}
