<app-navbar></app-navbar>
<div class="profile-page">
  <mat-card class="profile-card">
    <mat-card-header class="profile-card-header">
      <mat-card-title
        >Profile of
        {{ user.username }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="user-profile-card-content">
      <form>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            [(ngModel)]="user.password"
            type="password"
            placeholder="Password"
            name="Password"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            [(ngModel)]="user.email"
            type="email"
            placeholder="Email"
            name="Email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Birthday</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [formControl]="user.birthday"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="updateUserInfo()" color="basic">
        <mat-icon>edit</mat-icon>
        Update Profile
      </button>
      <button mat-raised-button (click)="deleteAccount()" color="warn">
        <mat-icon>delete_forever</mat-icon>
        Delete account
      </button>
    </mat-card-actions>
  </mat-card>
</div>
